body {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF7E6;
    color: #003049;
}

header {
    float: left;
    display: block;
    width: 100%;
    height: 120px;
}

nav#header {
    float: left;
    display: block;
    width: 100%;
    height: 100%;

    align-items: center;
    display: flex;
    justify-content: center;
}

nav#header ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
}

nav#header ul li {
    display: inline-block;
}

nav#header ul li a {
    text-decoration: none;
    color: #003049;
    font-size: 27px;
    position: relative;

    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
}