body {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #003049;
}

header {
    width: 100%;
    height: 120px;
    display: block;
    background: #FFE4AA;
    background: linear-gradient(180deg,rgba(255, 228, 170, 1) 0%, rgba(255, 247, 230, 1) 58%);
}

.container {
    width: 1140px;   
    margin: 0 auto;
    display: block;
}

nav#header {
    float: left;
    display: block;
    width: 100%;
    margin-top:  9px;
}

nav#header ul {
    list-style: none;
    margin: 0px;
    padding: 0px;

    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

nav#header ul li{
    display: inline-block;
}

nav#header ul li a {
    text-decoration: none;
    color: #003049;
    font-size: 27px;

    transition: 0.5s ease;
    cursor: pointer;
}

nav#header ul li a:hover {
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}