
body {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #003049;
    background-color: #FFF7E6;
}

.container {
    width: 1140px;   
    margin: 0 auto;
    display: block;
}

body .container .mensagem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body .container .mensagem .bloco1 {
    width: 40%;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

body .container .mensagem .bloco1 p {
    font-size: 29px;
    margin: 0px;
    padding: 0px;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

body .container .mensagem .bloco2 {
    width: 60%;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

body .container .mensagem .bloco2 p {
    font-size: 19px;
    text-shadow: 1px 3px 4px rgba(0,0,0,0.6);
}

body .container hr {
    border: 1px solid #FFAD00;
    border-radius: 20px;
}

body .container .pesquisa {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

body .container .pesquisa .bloco1 input {
    border-radius: 25px;
    height: 30px;
    width: 430px;
}