
body {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #003049;
    background-color: #FFF7E6;
}

.container {
    width: 1140px;   
    margin: 0 auto;
    display: block;
}

body .container .mensagem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body .container .mensagem .bloco1 {
    width: 40%;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

body .container .mensagem .bloco1 p {
    font-size: 29px;
    margin: 0px;
    padding: 0px;
}

body .container .mensagem .bloco2 {
    width: 60%;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

body .container .mensagem .bloco2 p {
    font-size: 19px;
}